@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import "color-palette";
// * {
//     outline: 1px solid blue;
// }
:root {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-red {
    color: $red;
}

.title-blue {
    color: $blue;
}

.title-black {
    color: $black;
}

button {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid $black;
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-delete:hover {
    background-color: $red;
    color: white;
}

.top-select-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    gap: 1rem;
}

.select-all-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-options {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    height: 3rem;
}

.top-move {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

input[type="checkbox"] {
    min-width: 20px; /* Increase the width of the checkbox */
    min-height: 20px; /* Increase the height of the checkbox */
    cursor: pointer;
    border-radius: 50%; /* Make the checkbox rounded */
    appearance: none; /* Remove default checkbox styling */
    background-color: white; /* Set the background color */
    border: 2px solid $black; /* Set the border color */
    position: relative;
    padding-right: 17px;
}

input[type="checkbox"]:checked {
    background-color: $black; /* Change background color when checked */
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 10px; /* Adjust the size of the checkmark */
    min-height: 10px; /* Adjust the size of the checkmark */
    background-color: $black; /* Set the checkmark color */
    border-radius: 50%; /* Make the checkmark rounded */
    transform: translate(-50%, -50%); /* Center the checkmark */
}

.top-move-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.456);
    text-align: center;
    font-size: 30px;
}

.star.starred {
    color: $black;
}

.dashboard {
    display: flex;
}

.email-checkbox,
.email-checkbox-all {
    width: fit-content;
}

.sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 1rem 1rem 1rem 0;
    border: 0;
    border-right: 2px solid $black;
    box-shadow: 1px 4px 10px;
}

.sidebar h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.top-options {
    display: flex;
}

.navigation button {
    background-color: $black;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
    padding-left: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid;
    font-weight: 700;
    font-size: 1rem;
    border-left: 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom-color: $black;
    border-right-color: $black;
    border-top-color: $black;
    color: white;
}

.navigation button:hover,
.navigation button.active {
    background-color: $blue;
    color: white;
    border-color: $black;
    font-weight: 700;
}

// .navigation button.active:hover {
//     background: ;
// }

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 220px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.main-content {
    margin-left: 220px; /* Adjust this value based on the width of the sidebar */
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 0px;
}

.refresh-button {
    background: none;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
    padding-left: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1rem;
    border-left: 0px;
}

.refresh-button:hover {
    background-color: #000000;
    color: white;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 220px; /* Adjust this value based on the width of the sidebar */
    right: 0;
    background-color: #f1f1f1;
    z-index: 1000;
    padding: 1rem;
    border: 0px;
    border-bottom: 2px solid $black;
    border-right: #f1f1f1;
    box-shadow: 4px 1px 10px;
}

.email-list {
    margin-top: 10rem; /* Adjust this value based on the height of the fixed top elements */
    overflow-y: auto;

    height: fit-content;
}

.email-item {
    display: flex;
    color: $black;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    gap: 1rem;
    width: 80vw;
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

.email-item:hover {
    background-color: $blue;
    border-radius: 10px;
    // border-bottom: none;
}

.email-subjectAndBody {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // margin-left: auto;
}

.email-subject {
    font-weight: bold;
}

.email-body {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    color: #000000cb;
}

.email-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.email-view__return-button,
.email-view__respond-button {
    width: fit-content;
}

.compose-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $blue;
    color: $red;
    border: none;
    box-shadow: 0px 0px 5px $black;
    border-radius: 50%;
    border: 2px solid $black;
    width: 70px;
    height: 70px;
    font-size: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 0.3s ease-in-out;
}

.compose-button:hover {
    transform: rotate(180deg);
}

.editor-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

// .close-button {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     background: none;
//     border: none;
//     font-size: 16px;
//     cursor: pointer;
// }

.editor-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editor-content .ck-editor__editable {
    flex: 1;
}


.editor-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    user-select: none;
}

.editor-buttons .send {
    flex: 2;
    background-color: $blue;
    color: white;
    &:hover {
        box-shadow: 3px 3px solid $black;
    }
}

.editor-buttons .draft {
    flex: 1;
    background-color: $black;
    color: white;
}

.email-item-open{
    display: flex;
    color: $black;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    gap: 1rem;
    width: 80vw;
    cursor: pointer;
    
}

.loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
