.profile-component {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 2rem;
    min-width: 20rem;
    padding: 2rem;
    position: absolute;
    box-shadow: 1px 1px 5px;
    top: 1rem;
    right: 0;
    .profile-details {
        // margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: default;

        .profile-pfp {
            border-radius: 50%;
            background-color: lightgreen;
            height: 7rem;
            width: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;

            .pfp-letter {
                color: coral;
            }
        }
    }

    .profile-functionality {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile-button {
            height: 3rem;
            width: 80%;
            border: 1px solid lightcoral;
            border-radius: 10px;
            background-color: white;
            margin: 1rem 1rem 1rem 1rem;
            cursor: pointer;

            &:hover {
                background-color: lightcoral;
                color: white;
            }
        }
    }

    .close-icon{
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        //border: 1px solid black;
    }
}


