.profile-component {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 15px;

    padding: 1rem 2rem;

    position: absolute;
    box-shadow: 1px 1px 5px;
    top: 1rem;
    right: 0;
    .profile-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: default;
        height: fit-content;
        .profile-pfp {
            border-radius: 50%;
            background-color: $blue;
            height: 7rem;
            width: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            font-weight: 800;
            border: 2px solid $black;
            color: $red;
        }
    }

    .profile-functionality {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: fit-content;
        width: fit-content;

        .profile-button {
            padding: 1rem 1.5rem;
            width: 100%;
            border-radius: 15px;
            border: 1px solid $black;
            border-width: 2px;
            background-color: white;

            cursor: pointer;

            &:hover {
                background-color: $black;
                color: white;
            }
        }
    }

    .close-icon {
        position: absolute;
        top: 0px;
        right: 10px;

        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        //border: 1px solid black;
    }
}

// .profile-button .logout {
//     &:hover {
//         background-color: $red;
//         color: white;
//     }
// }
