body{
    margin: 0;
}
.auth-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    min-width: 30rem;
    padding: 2rem;


    .auth-header{
        display: flex;
        flex-direction: column;

        .auth-header-text{
            text-align: center;
        }

        .auth-detail-text{
            text-align: center;
        }
    }

    .auth-link{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%; 
    }

    .auth-link-button{
        text-decoration: none;
        color: #04AA6D;
    }

    ::placeholder{
        font-size: 1rem;
        text-align: center;
    }
}

.auth-body{
    align-items: center;
    display: flex;
    height: 92vh;
    background-color: blue;
    margin: 0;
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.75rem;
    width: 100%;

    input{
        height: 3rem;
        width: 80%;
        border: 1px solid lightcoral;
        border-radius: 10px;
        placeholder{
            color: #04AA6D;
        }
    }

    button{
        background-color: #04AA6D; 
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        
    }


}
