body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.auth-wrapper {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    background-color: #f1f1f1;
    border: 2px solid $black;
    gap: 1rem;

    .auth-header {
        display: flex;
        flex-direction: column;

        .auth-header-text {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .auth-detail-text {
            text-align: center;
        }
    }

    .auth-link {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }

    .auth-link-button {
        text-decoration: none;
        background-color: transparent;
        border-radius: 10px;
        color: $black;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
            background-color: $blue;
            color: white;
        }
    }

    ::placeholder {
        font-size: 1rem;
        text-align: center;
    }
}

.auth-body {
    align-items: center;
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.auth-body.fade {
    opacity: 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 80%;

    input {
        border: 2px solid $black;
        border-radius: 15px;
        width: 100%;
        font-weight: 500;

        background-color: #f1f1f1;
        padding: 1rem;
        &:focus {
            background-color: white;
            outline: none;
        }
    }

    button {
        margin-top: 1rem;
        background-color: $black;
        border: none;
        width: 100%;
        border-radius: 15px;
        padding: 1rem 5rem;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        &:hover {
            background-color: $blue;
        }
    }

    .auth-error {
        color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        margin: -0.5rem;
    }
}

.signup-body {
    display: flex;
    height: 100vh;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.signup-form-content {
    background-color: #f1f1f1;
    margin: 0 auto;
    height: fit-content;
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid $black;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-form input {
    padding: 1rem;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid $black;
    &:focus {
        background-color: white;
    }
}

.error {
    color: $red;
    font-size: 0.8rem;
}

h1,
p {
    text-align: center;
    padding: 0.5rem;
}

.signup-form-top,
.signup-form-bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.signup-form-top div,
.signup-form-bottom div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    gap: 0.3rem;
}

.signup-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.signup-register-btn {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    outline: none;
    color: white;
    background-color: $black;
    &:hover {
        background-color: $blue;
    }
}

a {
    text-decoration: none;
    color: $black;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    &:hover {
        color: white;
        background-color: $blue;
    }
}
