.logo-cbp {
    &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
.page-top {
    display: flex;
    position: relative;
    //background-color: red;
    height: 3rem;
    margin-bottom: 1rem;
}

.search-input {
    background-color: white;
    width: 500px;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: 2px solid $black;
    border-radius: 15px;
}

.search-input-active {
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    width: 500px;
    font-size: 1.5rem;
    padding: 5px;
    border: 2px solid $black;
}

.search-input:focus,
.search-input-active:focus {
    outline: none;
    border: 2px solid $black;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searched-mails {
    display: flex;
    flex-direction: column;
    border: none;
    align-content: flex-start;
    width: fit-content;
    position: absolute;
    top: 100%;
    width: 500px;
    border-radius: 0px 0px 15px 15px;
    max-height: 20rem;

    .mail {
        background-color: white;
        height: fit-content;
        padding: 0.3rem;
        //border-radius: 0px 0px 15px 15px;
        border-left: 2px solid $black;
        border-right: 2px solid $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }

    .search-query {
        background-color: white;
        border-top: 1px solid black;
        height: fit-content;
        padding: 0.3rem;
        border-radius: 0px 0px 15px 15px;
        border-bottom: 2px solid $black;
        border-left: 2px solid $black;
        border-right: 2px solid $black;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .mail-no-results {
        background-color: white;
        border-bottom: 2px solid $black;
        border-left: 2px solid $black;
        border-right: 2px solid $black;
        height: fit-content;
        padding: 0.5rem;
        border-radius: 0px 0px 15px 15px;
        font-size: larger;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.profile-pfp-icon {
    border-radius: 50%;
    border: 2px solid $black;
    background-color: $blue;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    color: $red;
    cursor: pointer;
    z-index: 1000;
}

.trash-button {
    background-color: $red;
    color: white;
}
