.logo-cbp{
    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
.page-top {
    display: flex;
    position: relative;
    //background-color: red;
    height: 10%;
}


.searchBar {
    display: flex;
    flex: 1;
    flex-direction: column; 
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-end;

}

.search-input {
    width: 95%;
    padding: 1rem;
    border-radius: 15px 15px 15px 15px;
}

.search-input-open {
    width: 95%;
    padding: 1rem;
    border-radius: 15px 15px 0px 0px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searched-mails{
    display: flex;
    flex-direction: column;
    //background-color: #f1f1f1;
    align-content: flex-start;
    width: 69.7%;
    position: absolute;
    top: 80%;
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    max-height: 20rem;
    overflow-y: scroll;
    
    .mail{
        background-color: white;
        
        height: fit-content;
        padding: 1rem;
        //border-radius: 0px 0px 15px 15px;
        font-size: larger;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover{
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }

    .search-query{
        background-color: white;
        border-top: 1px solid black;
        height: fit-content;
        padding: 1rem;
        border-radius: 0px 0px 15px 15px;
        
        font-size: larger;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .mail-no-results{
        background-color: white;
        
        height: fit-content;
        padding: 1rem;
        border-radius: 0px 0px 15px 15px;
        font-size: larger;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.searchBarComponent{
    //background-color: white;
    width: 70%;
    padding: 1rem;
    border-radius: 15px;
    
    
    
}

.profile-pfp-icon {
    border-radius: 50%;
    background-color: lightgreen;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    cursor: pointer;


    .pfp-letter-icon {
        color: coral;
    }
}
